{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "source-map-support",
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "extensions": [".js", ".ts"],
        "root": ["./src"],
        "alias": {
          "@app": "./src"
        }
      }
    ]
  ],
  "sourceMaps": "inline",
  "retainLines": true
}